name: rust-test

on:
  pull_request:

permissions:
  contents: read

jobs:
  rust-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # actions/checkout@v6

      - name: Install Rust (stable)
        uses: dtolnay/rust-toolchain@4be9e76fd7c4901c61fb841f559994984270fce7 # dtolnay/rust-toolchain@stable

      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Lint
        run: |
          cargo clippy --all-features --all-targets
